[hub]
        protocol = https
[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[credential]
        helper = GIT_CREDENTIAL_HELPER
[alias]
        wtf         = !$ZSH/bin/git-wtf
        diff-no-ext = !$ZSH/bin/git-diff-no-ext
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore
        editor = nvim
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[help]
        # Do not automatically execute a suggested fix if the command is invalid.
        autocorrect = 0
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to suppress warning message
        default = simple
[branch]
        # Order branches by last commit date descending.
	sort = -committerdate
[diff]
        # Use difftastic as a difftool. Works by default for diff, needs --ext-diff for others.
        # https://github.com/Wilfred/difftastic
        # $ git diff
        # $ git show HEAD --ext-diff
        # $ git log -p --ext-diff
        external = difft

[includeIf "gitdir:~/workspace_oss/"]
        # Use custom author config for repos checked out to this directory.
	path = ~/.oss_gitconfig.inc
